<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="29662k0st1x.juick8" Publisher="CN=D3E079BC-3CEA-4469-88B6-0F4AB848729B" Version="1.0.0.0" />
  <Properties>
    <DisplayName>juick 8</DisplayName>
    <PublisherDisplayName>k0st1x</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Juick.App">
      <VisualElements DisplayName="juick 8" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="Client for Juick service" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" WideLogo="Assets\WideLogo.png" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>